/* BASIC SETUP */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #888;
}
a:hover {
  color: #ff5353;
}

/* REUSEABLE STYLES START*/
.main-title {
  font-size: 5.8rem;
  text-transform: capitalize;
  text-align: center;
}
.section-title {
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
}
.journal-title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}
.price {
  font-size: 1.8rem;
}
.service-and-footer-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
.btn {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.7rem 4.5rem;
  cursor: pointer;
  background-color: #ff5353;
  border: none;
  margin-top: 5rem;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn:hover {
  color: blue;
  background-color: #fff;
}
.product-section,
.popular-section,
.trending-section,
.journal-section,
.follow-section {
  padding: 5rem;
}
/* REUSEABLE STYLES */

/* HOME SECTION */

/* HEADER AREA START */
header.container {
  padding: 1.5% 8% 1.5% 6%;
}
.header-area {
  background-color: #fef7f6;
  color: #333;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}
.contact-information span:last-child {
  margin-left: 1rem;
}
.user-preference span:nth-child(2) {
  margin: 0 1rem;
}
/* HEADER AREA END */

/* NAVIGATION AREA START */
.navigation-area.container {
  padding: 2% 8% 2% 6%;
}
nav {
  display: flex;
  justify-content: space-between;
}
.navigation-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  text-transform: uppercase;
}
.active {
  display: block !important;
  width: 100%;
  text-align: center;
  padding: 4rem;
  position: absolute;
  top: 5rem;
  left: 0rem;
  background: white;
  padding-bottom: 2.2rem;
}
.navigation-items li a {
  color: black;
  font-family: serif;
  text-shadow: none;
}
.navigation-items li a:hover {
  color: #ff5353;
}
/* HAMBERGER MENU ICON START */
.hamberger-menu {
  cursor: pointer;
  position: relative;
  display: none;
  margin-left: auto;
  margin-right: 1.5rem;
  top: 0.2rem;
  z-index: 1;
}
.hamberger-menu .menu-line {
  width: 3rem;
  height: 0.5rem;
  background: black;
}
.hamberger-menu .menu-line:nth-child(2) {
  margin: 0.3rem 0;
}
/* HAMBERGER MENU ICON END */

/* SUB-MENU START */
.sub-menu {
  display: none;
  width: 20rem;
  padding: 0.5rem 0;
  position: absolute;
  background: #fff;
  top: 21%;
  left: 31%;
}
.active-sub-menu {
  display: block;
}
.sub-menu li a {
  display: block;
  padding: 1.5rem 2rem;
}
.sub-menu li a:hover {
  background-color: #f5f5f5;
}
/* SUB-MENU END */

/* NAVIGATION USER AREA START */
.user-shopping-icon {
  font-size: 1.8rem;
  margin-top: 0.3rem;
  color: black;
  position: relative;
}
.user-shopping-icon a:nth-child(2) {
  margin: 0 1.5rem;
}
.user-wishlist-item {
  position: absolute;
  top: -11px;
  right: 25px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  color: #fff;
  background-color: #ff5353;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-favorite-item {
  position: absolute;
  top: 10%;
  right: 8.5%;
}
.user-favorite-item {
  position: absolute;
  top: -11px;
  right: -11px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  color: #fff;
  background-color: #ff5353;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* NAVIGATION USER AREA END */

/* NAVIGATION AREA END */

/*  COLLECTION SECTION */
.collection-section {
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
}
.grid-of-two-column {
  display: grid;
  grid-template-columns: 53% 47%;
}
.colletion-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.colletion-text p {
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 1.5rem;
  letter-spacing: 2.8px;
  font-weight: 600;
}

/* PRODUCT SECTION */
.grid-of-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}
.product {
  position: relative;
}
.featured-product.product-icons {
  top: 74%;
}
.product-icons {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 69%;
  width: 100%;
}
.product-icons .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  opacity: 0;
}
.product:hover .product-icons .icon {
  opacity: 1;
  transform: translateY(-3rem);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
}
.product-icons .icon:hover {
  color: #fff;
  background-color: #ff5353;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.product-icons .icon i {
  color: black;
  margin-top: 1.7rem;
}
.product-icons .icon:hover i {
  color: #fff;
}
.product-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-top: 2rem;
}
.product-discription span i {
  color: #ff5353;
}
.cursor-pointer {
  cursor: pointer;
}





.grid-of-4-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}


/* FOOTER SECTION */

.footer-section {
  background-color: #eae2d8;
  padding: 7rem 7rem 3rem;
}

.footer-section .grid-of-4-column {
  padding-bottom: 5rem;
  border-bottom: 1px solid #6f6f6f29;
  margin-bottom: 3rem;
}
.footer-section ul li {
  margin: 1rem 0;
}
.footer-section .role {
  margin-bottom: 3rem;
  font-weight: 700;
}
.footer-links .get-the-app {
  font-size: 1rem;
  text-transform: uppercase;
}
.footer-links .store-name {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
}
.footer-links .app-store-flex {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
}
.footer-links .stores {
  display: flex;
  column-gap: 0.6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #00000014;
  margin-bottom: 2rem;
}
.stores a:hover {
  color: #fff;
}
.footer-links .apple.app-store-flex,
.footer-links .goole.app-store-flex:hover,
.social-icon a:hover {
  background-color: #ff5353;
  color: #fff;
}
.social-icon a {
  width: 3rem;
  height: 3rem;
  background-color: white;
  display: inline-block;
  text-align: center;
  color: #000;
  margin-right: 1rem;
}
.social-icon a:nth-child(4) {
  margin-right: 0;
}
.social-icon a i {
  font-size: 1.5rem;
  margin-top: 0.75rem;
}
.footer-links .role {
  margin-bottom: 1.8rem;
}
.copyright {
  text-align: center;
  color: #888;
}
.copyright span:first-child,
.copyright a {
  margin-right: 0.5rem;
}

/* MEDIA QUERY */

.this-is-new-css {
  color: #fff;
}
